/* 
    Created on : 12.10.2020, 06:18:59
    Author     : Andy Kar
*/

//Color
$orange: #F58A0C;
$red: #E10028;
$dark-red: #C61D41;
$blue: #0DA6FD;

$green: #18C75D;
$green-dark: #3e8426;
$lite_green: #6fd685;

$yellow: #fcd703;

$violet: #332868;

$dark: #0E0F13;
$dark09: #26272a;
$dark095: #121417;
$dark-lite: #1C1D1F;

$grey: #7F7F7F;
$grey-lite: #b7b7b8;
$lite-grey: #fefefe;


//function color
$text: #1F2B33;
$text-hover: #ffffff;
$text-no-active: #999999;

$link: #0DA6FD;
$link_hover: #26a641;

$main-bg: #F5F5F5;
$gray-bg: #FBFCFB;

$warning: #ff8d72;

$border: #464646;
$border-hover: #6d6d6d;

// SUN THEME
$sun-text: #45484a;
$sun-main-bg: #F5F5F5;
$sun-active: #E10028;
$sun-grey-lite: #b7b7b8;
$sun-grey: #7F7F7F;

//Text
$bold: 'Roboto-Bold', sans-serif;
$medium: 'Roboto-Medium', sans-serif;
$regular: 'Roboto-Regular', sans-serif;

// Container
$container-width: 1330px;
$container-padding: 15px;

